
.p-tag{
    color: rgb(166, 166, 166);
    margin-bottom: 30px;
}
a{
    color:rgb(255, 205, 238);
}
a:hover{
    color: rgb(231, 114, 192);
    text-decoration: none;
}
input,
#input-login{
    width: 400px;
    height: 50px;
    display: inline-block;
    margin-bottom: 10px;
    border: none;
    background-color: transparent !important;
    border-bottom: 1px solid rgb(255, 205, 238);
    outline: none; 
   font-size: 16px;
   color: #fff;
}

#input-field:focus{
    transition: ease-in-out, width .35s ease-in-out;
    width: 450px;
}
input:-internal-autofill-selected{
    background-color: transparent !important;
}
.row{
    align-content: flex-start;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
-webkit-transition-delay: 9999s;
}

.far{
    margin-top: 30px;
    margin-left: -50%;
}
.far:hover{
    color: rgb(231, 114, 192);
    text-decoration: none;
}
button{
    width: 400px;
    color: pink;
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    z-index: 5;
}
.jumbo-register{
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 50px;  
    border-radius: 0; 
    width:600px;
    margin: auto;
}
.h6-color{
    text-align: center;
    color: rgb(255, 116, 181);
    letter-spacing: 5px;
    font-family: 'Orbitron', sans-serif;
}
h4{
    margin-top: 30px;
}
.final-input{
    margin-bottom: 30px;
}