.healthBar {
    position: relative;
    height: 20px;
    width: 175px;
    top: -51px;
    left: -106px;
    /* margin-left: 150px; */
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid #333;
    background-color: white;
    display: inline-block;
    z-index: 4;
}

.filler {
    background: rgb(255, 51, 0);
    height: 100%;
    border-radius: inherit;
    
}

.hpNum {
    position: relative;
    top: -4px;
    z-index: 15;
    margin-left: 5px;
}