.manaBar {
    position: relative;
    top: -29px;
    left: -280px;
    height: 20px;
    width: 175px;
    /* margin-left: 150px; */
    /* margin-top: 5px; */
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid #333;
    display: inline-block;
    background-color: white;
    z-index: 4;
}

.fillerMana {
    background: rgb(0, 68, 255);
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

.mpNum {
    position: relative;
    top: -5px;
    left: 2px;
    z-index: 15;
}