.tile {
    display: inline-flex;
    background-color: green;
}

.rock {
    background-image: url("../../../Tiles/rock.png");
}

.grass {
    background-color: green;
}

.tree {
    background-image: url("../../../Tiles/tree.png");
}